[init]
  defaultBranch = main

[alias]
	sw = !git checkout $(git branch | fzf)

[core]
  editor = vim
  pager = delta
  autocrlf = input

[delta]
  side-by-side = true
  line-numbers = true

[push]
	autoSetupRemote = true

[user]
  name = Deep Dhanak
  email = 16140109+ddhanak@users.noreply.github.com

[includeIf "gitdir:~/dialogue/"]
  path = ~/work/.gitconfig
