[init]
  defaultBranch = main

[alias]
	sw = !git checkout $(git branch | fzf)

[core]
  editor = vim
  pager = delta
  autocrlf = input

[push]
	autoSetupRemote = true

[user]
  name = Deep Dhanak
  email = 16140109+ddhanak@users.noreply.github.com

[includeIf "gitdir:~/work/"]
  path = ~/work/.gitconfig
