[init]
  defaultBranch = main

[alias]
	sw = !git checkout $(git branch | fzf)

[core]
  editor = vim
  pager = delta
  autocrlf = input

[push]
	default = matching
	autoSetupRemote = true

[commit]
	gpgsign = true

[user]
	signingkey = B0166E0DBDA5E60E
	name = Deep Dhanak
	email = 16140109+ddhanak@users.noreply.github.com
