[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "tmux"]
	path = tmux/dot-tmux
	url = https://github.com/gpakosz/.tmux
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm.git
